.navigation-bar-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.navigation-bar-image1 {
  height: 3rem;
}
.navigation-bar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navigation-bar-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navigation-bar-link21 {
  text-decoration: none;
}
.navigation-bar-link31 {
  text-decoration: underline;
}
.navigation-bar-link41 {
  text-decoration: underline;
}
.navigation-bar-link42 {
  text-decoration: none;
}
.navigation-bar-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-bar-link1 {
  display: contents;
}
.navigation-bar-icon10 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.navigation-bar-link6 {
  display: contents;
}
.navigation-bar-icon12 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.navigation-bar-link7 {
  display: contents;
}
.navigation-bar-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.navigation-bar-burger-menu {
  display: none;
}
.navigation-bar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navigation-bar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-bar-logo {
  height: 3rem;
}
.navigation-bar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-bar-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-bar-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.navigation-bar-link5-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-bar-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navigation-bar-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navigation-bar-icon20 {
  width: 24px;
  height: 24px;
}
.navigation-bar-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navigation-bar-icon22 {
  width: 24px;
  height: 24px;
}
.navigation-bar-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr;
}
.navigation-bar-menu-item1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navigation-bar-page1-image1 {
  width: 50px;
  height: 50px;
}
.navigation-bar-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navigation-bar-page11 {
  font-style: normal;
  font-weight: 600;
}
.navigation-bar-menu-item2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navigation-bar-page2-image1 {
  width: 50px;
  height: 50px;
}
.navigation-bar-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navigation-bar-page21 {
  font-style: normal;
  font-weight: 600;
}
.navigation-bar-menu-item3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navigation-bar-page3-image1 {
  width: 50px;
  height: 50px;
}
.navigation-bar-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navigation-bar-page31 {
  font-style: normal;
  font-weight: 600;
}
.navigation-bar-menu-item4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navigation-bar-page4-image1 {
  width: 50px;
  height: 50px;
}
.navigation-bar-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navigation-bar-page41 {
  font-style: normal;
  font-weight: 600;
}
.navigation-bar-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
.navigation-bar-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.navigation-bar-container5 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navigation-bar-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-oneandhalfunits);
  grid-gap: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.navigation-bar-menu-item5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
}
.navigation-bar-page1-image2 {
  width: 30px;
  height: 30px;
}
.navigation-bar-content5 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-page12 {
  font-style: normal;
  font-weight: 600;
}
.navigation-bar-menu-item6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
}
.navigation-bar-page2-image2 {
  width: 30px;
  height: 30px;
}
.navigation-bar-content6 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-page22 {
  font-style: normal;
  font-weight: 600;
}
.navigation-bar-menu-item7 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
}
.navigation-bar-page3-image2 {
  width: 30px;
  height: 30px;
}
.navigation-bar-content7 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-page32 {
  font-style: normal;
  font-weight: 600;
}
.navigation-bar-menu-item8 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
}
.navigation-bar-page4-image2 {
  width: 30px;
  height: 30px;
}
.navigation-bar-content8 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-bar-page42 {
  font-style: normal;
  font-weight: 600;
}
.navigation-bar-container6 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 767px) {
  .navigation-bar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navigation-bar-desktop-menu {
    display: none;
  }
  .navigation-bar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation-bar-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .navigation-bar-container4 {
    grid-gap: 0;
  }
  .navigation-bar-link5-menu-list {
    display: none;
  }
}
@media(max-width: 479px) {
  .navigation-bar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navigation-bar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}
